
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link  {
    color: #5995DA;
    text-decoration: none;
}

a:visited  {
    color: #407FC7;
}

    a:hover,
    a:visited:hover
    {
        color: #76AEED;
        border-bottom: 1px solid #76AEED;
    }

a:active,
a:visited:active {
    color: #5995DA;
}

code {
    color: #7E8184;
}

a:link code,
a:visited code,
a:hover code,
a:visited:hover code,
a:active code,
a:visited:active code {
    color: inherit;
}

.button-link {
   
    background: none;
    text-decoration: none;
    border: none;
    color: #5995DA;
}

    .button-link:active, .button-link:visited:active {
        color: #5995DA;
    }

    .button-link:hover,
    .button-link:visited:hover {
        color: #76AEED;
        border-bottom: 1px solid #76AEED;
    }

    

body {
    /*color: #5D6063;
    background-color: #EAEDF0; */
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    position: relative;
    z-index: 1;
}

.page {
    /* Gradient page background */
    background-color: #F9FAFB;
    background: -webkit-linear-gradient(bottom, #F9FAFB 0%, #FFFFFF 100%);
    background: linear-gradient(to top, #F9FAFB 0%, #FFFFFF 100%);
    background-repeat: no-repeat;
    width: 100%;
    /* Need these so the .subheading rule shows */
    position: relative;
    z-index: -100;
    overflow: hidden;
    /* This top margin should match .main-nav height */
    margin-top: 40px;
}


.menu-container {
    color: #5D6063;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 26px;

    padding: 20px 0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 0 rgba(93, 96, 99, .1);

    
    width: 100%;
    height: 40px;
    padding: 0 13px;
}

.menu-container a {
    text-decoration: none;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}


/* .date {
    margin-left: 10px;
}*/  




/* .login  {
    margin-left: 20px;
    margin-right: 10px;
}*/


.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-self: center;
}

    .header {
        display: flex;
        align-items: center;
        width: 900px;
        justify-content: space-between;
    }

    .social,
    .subscribe {
       
        
        justify-content: flex-start;
        
    }

.user-links {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.search-form {
    background-color: #F6F7F8;
    /*border: 1px solid #D6D9DC;
    border-radius: 3px;*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
    .search-form input[type='text'] {
        background-color: #FFFFFF;
        border: 1px solid #D6D9DC;
        border-radius: 3px;
        width: 100%;
        padding: 7px;
        font-size: 14px;
    }
        .search-form input[type='text']:invalid {
            border: 1px solid #D55C5F;
            color: #D55C5F;
            box-shadow: none;
        }



.search-form button {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #5995DA;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

  

.content-grid-container {
    display: flex;
}



.sidebar {
    width: 30%;
    display: flex;
    background-color: #B2D6FF;
    justify-content: flex-start;
    padding-left: 5px;
    flex-direction: column;
}



.sidebar li {
    justify-content: center;
    text-decoration: none;
    display: block
}

    .sidebar a{
        display: block;
        color: #5D6063;
        padding: 16px;
        text-decoration: none;
        font-weight: bold;
    }

        .sidebar a:hover {
            background-color: #D6E9FE;
           
        }

.content-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.book-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid #D6D9DC;
    border-radius: 2px;
    margin: 5px 10px 10px 15px;
}
    


.book-grid-image {
    display: flex;
    border: 2px solid #76AEED;
    height: 200px;
    width: 200px;
}
/*table {
    display: inline;
    background-color: aqua;
}

ul {
    display: block;
    list-style-type: circle;
    background-color:aquamarine;
}

li{
    background-color: antiquewhite;
    display: table;
    width: auto;
} */
.call-to-action {
    font-style: italic;
    background-color: #EEB75A; /* Yellow */
}
    .call-to-action:link,
    .call-to-action:visited {
        font-style: italic;
        background-color: #EEB75A; /* Yellow */
    }

        .call-to-action:hover,
        .call-to-action:visited:hover {
            background-color: #F5CF8E; /* Light yellow */
        }

        .call-to-action:active,
        .call-to-action:visited:active {
            background-color: #EEB75A; /* Yellow */
        }

.button:link,
.button:visited {
    text-decoration: none;
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 100px;
    margin: 20px auto;
}

    .button:hover,
    .button:visited:hover {
        color: #FFF;
        background-color: #76AEED; /* Light blue */
    }