.content-grid-container {
    display: flex;
}

.content-grid-basket {
    display: flex;
    width: 100%;
    border: 1px solid #D6D9DC;
    justify-content: flex-start;
    flex-direction: column;
}

.content-grid-basket-cell
 {
    display: block;
    height: 150px;
    width: 100%;
}

.content-grid {
    display: block;
    height: 200px;
    width: 100%;
    color: orangered;
}

.basket-image {
    width: 20%;
    display: inline-block;
}

.detail-cell {
    width: 60%;
    display: inline-block;
}

.details {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.payment,
.result {
    width: 20%;
    display: inline-block;
}

.basket-book {
    width: 50%;
    display: inline-block;
}

.basket-quantity {
    display: inline-block;
    width: 15%;
}

.basket-cost {
    display: inline-block;
    width: 15%;
}

.basket-cell-top {
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: lightgrey;
    border: 1px;
    justify-content: center;
}

.basket-cell-bottom {
    height: 50px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.content-grid-basket li {
    display: block;
    justify-content: center;
}


.content-grid-basket a {
    display: block;
    color: #5D6063;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}



.content-order {
    display: flex;
    justify-content: center;
    padding: 20px 40px 0 40px;
    background-color: beige;
    flex-direction: column;
}
