extends layout.pug

block links
		link(rel='stylesheet', href='/stylesheets/author.css')
		link(rel='stylesheet', href='/stylesheets/main.css')

block content
	body
		div(class='speaker-form')
			form(action='/authorization' method='post' enctype='multipart/form-data')
				div(class='form-row')
					label(for='first_name') Имя
					input(id='first_name' name='first_name' type='text')
				div(class='form-row')
					label(for='last_name') Фамилия
					input(id='last_name' name='last_name' type='text')
				div(class='form-row')
					label(for='email') Отчество
					input(id='email' name='email' type='email'  placeholder='joe@example.com')
				div(class='form-row')
					button(class='button-link') Подтвердить




