extends layout

block content
	body
	div(class='menu-container')
		div(class='menu ')
			div(class='date') 
				a(href='/') Aug 14, 2019
			div(class='links')
				div(class='basket')
				div(class='signup') 
					a(href='/registration') SignUp
				div(class='login') 
					a(href='/authorization') LogIn
	div(class='header-container')
		div(class='header')
			div(class='subscribe') Subscribe &#9662;
				
			div(class='logo')
				p Книжный магазин, который удивит
			div(class='social')
	form(class='search-form' action='/' method='post')
		input(id='request' name='request' type='text')
		button Submit
	div(class='content-grid-container')
		div(class='content-grid-basket')
			
		div(class='sidebar') 
			each genre in genres
				li 
					a(href = '/') #{genre.name} 



	

	
			

		

				
				
							
							



	
				
