extends layout

block content
	h1(class='synopsis') Книжный магазин 
	h2 Виртуальный онлайн-магазин, позволяющий выбрать книги на любой вкус
	h2 Цю-жен-цин Дмитрий
	
	p
		div(class='button')
			a(href='/main_page') Вперед
			
		