extends layout
block links
	link(rel='stylesheet', href='/stylesheets/main.css')
block scripts 
	script(src='/ajax.js') 
	script(src='/images.js') 

block content
	
	body
		
		div(class='content-grid-container')
			div(class='sidebar') 
				each genre in genres
					li 
						a(href='/take_all_book_from_genre/' + genre.id_genre) #{genre.name} 
			div(class='content-grid')
				-for(var x = 0; x < books.length; x++)
					div(class='book-grid')
						div(class='book-grid-image')
							a(href='/book/'+ books[x]['id'] )
								img(id='image_book_'+ books[x]['id'] )
				
						a(href='/book/'+ books[x]['id'] )  #{books[x]['book_name']}
						p #{books[x]['price']}
						button(class='button-link' onclick='add_book_to_cart_click(' + books[x]['id'] + ')') Добавить в корзину
						

						
						
						

		