extends  layout
block links
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/author.css')

	
block content
	body
		div(class='speaker-form')
			form(action='/order/new' method='post' enctype='multipart/form-data')
					div(class='form-row')
						label(for='type') Тип получения
						select(id='type' name='type')
							option(value='pickup' id='pickup' selected) Самовывоз
							option(value='delivery' id='delivery') Доставка
					div(class='form-row')
						label(for='price') Цена
						input(id='price' name='price' type='text')
					div(class='form-row')
						label(for='adress') Адрес
						input(id='adress' name='adress' type='text')
					div(class='form-row')
						label(for='date') Дата доставки
						input(id='date' name='date' type='date' min='2019-05-29' value='2019-05-29')
					div(class='form-row')
						label(for='comments') Комментарии к заказу
						textarea(id='comments' name='comments')
						div(class='instructions') Напишите комментарий
					div(class='form-row') 
								
						button(class='button-link') Подтвердить



