doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/orders.css')
		<meta charset='UTF-8'>
	body
		block content

block content
	body
	div(class='page')
		div(class='menu-container')
			div(class='menu ')
				div(class='date') 
					a(href='/') Aug 14, 2019
				div(class='cart')
						a(href='/cart') Cart
				div(class='signup') 
					a(href='/registration') SignUp
				div(class='login') 
					a(href='/authorization') LogIn
				div(class='orders')
					a(href='/orders') Orders
		div(class='header-container')
			div(class='header')
				div(class='subscribe') Subscribe &#9662;
				div(class='logo')
					p Книжный магазин, который удивит
				div(class='social')
		form(class='search-form' action='/' method='post')
			input(id='request' name='request' type='text')
			button Submit
		div(class='content-grid-container')
			div(class='content-grid-basket')
				div(class='content-order')
					-for(var x = 0; x < 9; x++)
						div(class='content-grid-basket-cell')
							div(class='basket-image')
							div(class='basket-book')
								div(class='basket-cell-top')
									a(href='/' class='my_href') Название книги
								div(class='basket-cell-bottom') Цена
							div(class='basket-quantity')
								div(class='basket-cell-top') Количество
								div(class='basket-cell-bottom') textarea
							div(class='basket-cost')
								div(class='basket-cell-top') Итог
								div(class='basket-cell-bottom') Цифра
				
				// Здесь будет кнопка, показывающая дополнительные параметры покупки