extends layout.pug
block links
	link(rel='stylesheet', href='/stylesheets/main.css')
	link(rel='stylesheet', href='/stylesheets/author.css')
block scripts
	script(src='/ajax.js')
	
block content
	body
		div(class='speaker-form')
			form(action='/registration' method='post' enctype='multipart/form-data')
					div(class='form-row')
						label(for='first_name') Имя
						input(id='first_name' name='first_name' type='text')
					div(class='form-row')
						label(for='last_name') Фамилия
						input(id='last_name' name='last_name' type='text')
					div(class='form-row')
						label(for='patronymic') Отчество
						input(id='patronymic' name='patronymic' type='text')
					div(class='form-row')
						label(for='email') Почта
						input(id='email' name='email' type='email'  placeholder='joe@example.com')
					div(class='form-row')
						label(for='phone') Телефон
						input(id='phone' name='phone' type='tel')
					div(class='form-row')
						label(for='date') Дата рождения
						input(id='date' name='date' type='date')
					div(class='form-row')
						label(for='type') Тип
						select(id='type' name='type' onchange='display_position(this)')
							option(value='customer' id='customer' selected) Покупатель
							option(value='vendor' id='vendor') Продавец
							option(value='courier' id='courier') Курьер
					div(class='form-row' id='position' style='display: none' ) 
						label(for='input-position') Позиция
						select(name='position')
							each position in positions
								option(value=position id=position) #{position.name_of_position}
					div(class='form-row')
								button Подтвердить

						



